body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header-logo-img {
  width: 300px;
}

#header-buttons {
  display: flex;
  gap: 20px;
}

.header-button {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.1em;
}

.header-button:hover {
  color: #9e2629;
}

#sub-header {
  background-color: #9e2629;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sub-header-content {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 80%;
  color: white;
  padding-left: 25px;
}

#sub-header-title {
  font-size: 1rem;
}

#movie-selector {
  border: none;
  outline: none;
  color: white;
  background-color: #c8545c;
  font-size: 1rem;
  padding: 10px 10px;
  padding-right: 100px;
  cursor: pointer;
}

#bestel-btn {
  text-decoration: none;
  color: #9e2629;
  font-size: 0.9rem;
  padding: 7px 10px;
  background-color: white;
}

.seats {
  padding-top: 100px;
}
