main {
    display: flex;
    justify-content: center;
}

.main-container {
    margin-top: 200px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 20px;

    width: 90vw;
    height: auto;

    min-height: 75vh;
}

.main-header {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-h1 {
    color: var(--primary-color);
    border: 20px solid rgba(0,0,0,0);

    font-size: 40px;

    margin: 0px;
}

.main-body {
    width: calc(100% - 20px);
    height: 100%;

    border: 10px solid rgba(0,0,0,0);
}

.main-content {
    background-color: var(--background-color);
}


.info-h1 {
    color: var(--primary-color);
}

.info-p {
    font-size: 17px;
}