:root {
    --primary-color: #9e2629;
    --secondary-color: #666767;
    --background-color: #FFFFFF;

    --main-header-offset: 150px;
    --form-splitter-offset: 10px;
    --form-preview-offset: 10px;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 1fr 0fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.global-primary {
    color: var(--primary-color)
}

.global-secondary {
    color: var(--secondary-color)
}

.global-line {
    background-color: #9e2629;
    height: 7px;
}

.global-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    /* width: calc(100% - var(--main-header-offset*2)); */
    /* height: 1500px; */

    margin: var(--main-header-offset);
    margin-top: 130px;
    margin-bottom: 130px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-header-container {

    height: 125px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--background-color);
}

.main-header-title {
    margin-left: 30px;
    color: var(--primary-color);
    font-size: 70px;
}

/* 
    FORM CLASSES
*/

/* .form-container {
    
} */

.form-line {
    width: calc(60%);
}

.form-selections {
    display: flex;
    gap: 5px;

    margin-top: 30px;
    margin-bottom: 50px;
}

.form-selection {
    background-color: var(--background-color);
    color: var(--primary-color);

    font-size: 20px;

    padding: 8px 30px 8px 30px;
    border: none;
}

.form-splitter {
    width: calc(100% - var(--form-splitter-offset*2));
    height: auto;

    padding-left: var(--form-splitter-offset);
    padding-right: var(--form-splitter-offset);

    display: flex;
    justify-content: center;
    gap: 15px;
}


/* TODO: Change split classes's height to auto when fully done */
.form-split-left {
    width: 100%;
    height: auto;

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    background-color: var(--background-color);
}

.form-split-right {
    width: 250px;
    height: 500px; 

    background-color: var(--background-color);
}

.form-preview-container {
    width: calc(100% - var(--form-preview-offset)*2);
    height: 400px;
    padding: var(--form-preview-offset);

    display: flex;
    flex-direction: row;
    gap: 30px;

    border: solid 3px var(--primary-color);
}

.form-preview-img {
    height: 100%;
}

.form-preview-sub-img {
    width: 50px;
    width: 50px;
}