/* GRID SHIT */
#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 1fr 0fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  grid-area: 1 / 1 / 2 / 5;
}
main {
  grid-area: 2 / 1 / 4 / 5;
}
footer {
  grid-area: 4 / 1 / 5 / 5;
}
/* END GRID SHIT */

main {
  padding-top: 5%;
  padding-bottom: 50%;
}

#movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#movie-title-container {
  background-color: #fff;
  color: #9e2629;
  font-size: 1.5rem;
  width: 80%;
  margin-bottom: 3%;
}

#movie-content-container {
  display: flex;
  width: 80%;
  gap: 20px;
}

#movie-info {
  background-color: #fff;
  color: #686464;
  padding-left: 20px;
}

#movie-rating {
  color: #9e2629;
  font-size: 2rem;
}

#movie-actors-container {
  display: flex;
  flex-direction: row;
}

.movie-actor {
  display: flex;
  flex-direction: column;
}

.actor-img {
  width: 220px;
  height: 160px;
}

#buy-button {
  margin-top: 1%;
  background-color: #9e2629;
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
}

#movie-trailer {
  padding-top: 1%;
  width: 80%;
}