body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  grid-area: 1 / 1 / 2 / 5;
}
main {
  grid-area: 2 / 1 / 4 / 5;
}
footer {
  grid-area: 4 / 1 / 5 / 5;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header-logo-img {
  width: 200px;
}

#header-buttons {
    display: flex;
    gap: 20px;
}

.header-button {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.1em;
}

.header-button:hover {
  color: #9E2629;
}

#sub-header {
  background-color: #9E2629;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sub-header-content {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 80%;
  color: white;
  padding-left: 12px;
}

#sub-header-title {
    font-size: 1rem;
}

#movie-selector {
    border: none;
    color: white;
    background-color: #c8545c;
    font-size: 1rem;
    padding: 10px 10px;
    appearance: none;
}

#bestel-btn {
    text-decoration: none;
    color: #9E2629;
    font-size: 0.9rem;
    padding: 7px 10px;
    background-color: white;
}