#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 1fr 0fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  grid-area: 1 / 1 / 2 / 5;
}
main {
  grid-area: 2 / 1 / 4 / 5;
}
footer {
  grid-area: 4 / 1 / 5 / 5;
}

#intro {
  background-image: url("../images/backgrounds/header_afbeelding.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-box {
  background-color: #9e2629;
  color: white;
  width: 80%;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

#about-btn {
  text-decoration: none;
  background-color: white;
  color: #9e2629;
  padding: 10px;
  max-width: 230px;
}